html {
    font-size: 16px;
}
body {
    font-family: "PT Serif";
    font-size: 2rem;
    line-height: 1.75;
}
header, footer {
    text-align: center;
}
img {
    width: 100%;
    height: auto;
}
.container {
    max-width: 55rem;
    margin: auto;
}
a {
    color: #000;
    text-decoration: none;
}
nav {
    padding: 2rem 0;
}
nav a {
    display: inline-block;
    padding: 1rem;
}

input, textarea {
    display: block;
    padding: .25rem;
}

footer {
    padding: 4rem 0
}