* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: "PT Serif";
    font-size: 1.5rem;
    line-height: 1.75;
}
header, footer {
    text-align: center;
    padding: 1rem 0 0;
}

img {
    width: 100%;
    height: auto;
}
.container {
    max-width: 55rem;
    margin: auto;
    padding: 0 2rem;
}
a {
    color: #000;
    text-decoration: none;
}
nav {
    padding: 2rem 0;
}
nav a {
    display: inline-block;
    padding: 1rem;
}

input, textarea {
    display: block;
    padding: .25rem;
}
input[type='number'] {
    width: 4rem;
    margin: 0 auto 2rem ;
}


.product {
    text-align: center;
}
.product > div {
    margin: 0 auto 4rem;
}

.sharing {
    text-align: center;
    padding-bottom: 4rem
}
.sharing > div {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}

@media (min-width: 769px) {
    .logo img {
        width: 75%;
    }
    .product {
        text-align: left;
    }
    body {
        font-size: 2rem;
    }
}
