<footer>FOOTER</footer>
        <script src="/assets/scripts/vendor/jquery-3.3.1.min.js"></script>
        <script src="/assets/scripts/vendor/jquery.cookie.js"></script>
        <script src="/assets/plugins/age-verification.js"></script>
        <script src="/assets/plugins/slick/slick.min.js"></script>
        <script src="/assets/scripts/init.js"></script>
</div>
</body>
</html>