<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | {{config.site_name}}</title>
    <link rel="stylesheet" href="https://use.typekit.net/sqs4sdq.css">
</head>

<body class="{{body_classes}}">