{{> header}}

<div class="product">

  <div id='product-component-78333039b55'></div>
  <script type="text/javascript">
    /*<![CDATA[*/

    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'nochisaki.myshopify.com',
          storefrontAccessToken: 'f80b88269eee1dcd8cd9d9a6f78b276c',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [1481327444032],
            node: document.getElementById('product-component-78333039b55'),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
              "product": {
                "variantId": "all",
                "width": "580px",
                "contents": {
                  "imgWithCarousel": false,
                  "variantTitle": false,
                  "description": false,
                  "buttonWithQuantity": true,
                  "button": false,
                  "quantity": false
                },
              }
            }
          });
        });
      }
    })();
    /*]]>*/
  </script>
</div>

<img src="/assets/img/oxigami.jpeg" />

{{{contents}}}

{{> footer}}