{{> header}}
<img src="/assets/img/oxigami.jpeg" />
{{{contents}}}



<div class="product">
  <div>
    <img src="/assets/img/star-white.jpg" alt="">
  </div>
  <div>
    <h3>Origami Christmas stars</h3>

    <button class="snipcart-add-item" data-item-id="1" data-item-name="Oxigami" data-item-price="3.00" data-item-weight="1"
      data-item-description="Origami Christmas Star" data-item-url="https://www.oxigami.com">
      Buy Now</button>
  </div>
</div>



{{> footer}}