{{> header}}
{{{contents}}}

<h3>Christmas Star</h3>
$3.00
<form action="#" id="product-1" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_live_aqqrWSGqwzp5AH0IkoKypeb2"
    data-amount="300"
    data-name="Oxigami"
    data-description="Christmas Star"
    data-image="/assets/img/star.jpg"
    data-locale="auto">
  </script>
</form>

<h3>Christmas Star (2-pack)</h3>

$5.00
<form action="#" id="product-2" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_live_aqqrWSGqwzp5AH0IkoKypeb2"
    data-amount="500"
    data-name="Oxigami"
    data-description="Christmas Star (2-pack)"
    data-image="/assets/img/star.jpg"
    data-locale="auto">
  </script>
</form>
<hr>


{{> footer}}
